{% extends 'common/base.html' %}
{% load static %}


{% block title %}Dashbord{% endblock %}

<!-- ======= Header ======= -->
{% block header %}
  {% include 'common/navbar.html' %}
{% endblock %}
<!-- End Header -->

{% block content %}
  <main id="main">
    <div class="container py-3">
        <div class="row mt-3">
            <div class="col-md-9">
                <div class="row">
                    <div class="rounded m-3">
                        <div class="btn-group my-3" role="group" aria-label="Basic example">
                            <a href="{% url 'add_product' %}" class="btn btn-outline-warning">Add Product</a>
                            <a href="{% url 'add_complain' %}" class="btn btn-outline-warning">Complain</a>
                        </div>
                         <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#sale">Sale</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#buy">Buy</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#beat">Beat</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- sale section -->
                            <div id="sale" class="container tab-pane active">
                                <br>
                                <table class="table table-hover table-bordered">
                                    <thead class="table-dark">
                                      <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        {% if product.post_type == 'FS' %}
                                        <tr>
                                            <td><a href="{% url 'detail' product.id %}">{{product.title}}</a></td>
                                            <td>{{product.price}}/{% if product.unit %} {{product.unit}} {% else %}Item{% endif %}</td>
                                            <td>{{product.quantity}}</td>
                                            <td>
                                                <a href="{% url 'edit_product' product.id %}"  class="mx-3"><i class='bx bxs-edit'></i></a>
                                                <a href="{% url 'delete_product' product.id %}" class="mx-3"><i class='bx bxs-trash'></i></a>                                                
                                            </td>                                      
                                        </tr>
                                        {% endif %}
                                        
                                        {% endfor %}
                                    </tbody>
                                </table>                            
                            </div>
                            <!-- sale section -->
                            <div id="buy" class="container tab-pane fade"><br>
                                <table class="table table-hover table-bordered">
                                    <thead class="table-dark">
                                      <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        {% if product.post_type == 'FB' %}
                                        <tr>
                                            <td><a href="{% url 'detail' product.id %}">{{product.title}}</a></td>
                                            <td>{{product.price}}/{% if product.unit %} {{product.unit}} {% else %}Item{% endif %}</td>
                                            <td>{{product.quantity}}</td>
                                            <td>
                                                <a href="{% url 'edit_product' product.id %}"  class="mx-3"><i class='bx bxs-edit'></i></a>
                                                <a href="{% url 'delete_product' product.id %}" class="mx-3"><i class='bx bxs-trash'></i></a>
                                            </td>                                       
                                        </tr>
                                        {% endif %}
                                        
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- beat_items section -->
                            <div id="beat" class="container tab-pane active">
                                <br>
                                <table class="table table-hover table-bordered">
                                    <thead class="table-dark">
                                      <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Reply</th>
                                        <th scope="col">Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for beat in beat_items %}
                                        <tr>
                                            <td><a href="{% url 'detail' beat.product.id %}">{{beat.product.title}}</a></td>
                                            <td><a href="{% url 'detail' beat.product.id %}">{{beat.reply}}</a></td>
                                            <td>
                                                <a href=""  class="mx-3"><i class='bx bxs-edit'></i></a>
                                                <a href="" class="mx-3"><i class='bx bxs-trash'></i></a>                                                
                                            </td>                                      
                                        </tr>                                        
                                        {% endfor %}
                                    </tbody>
                                </table>                            
                            </div>
                            <!-- beat_items section -->
                        </div>
                                        
                    </div>
    
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                {% if profile.profile_pic %}
                <img class='d-block mx-auto img-thumbnail' src="{{ profile.profile_pic.url }}" alt="">
                {% else %}
                <img class='d-block mx-auto img-thumbnail' src="{% static 'image/demoprofile.png' %}" alt="">
                {% endif %}
                <p>Name: {{ user.first_name}} {{ user.last_name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Gender: {{profile.get_gender_display}}</p>
                <p>Address: {{profile.address}}</p>
                <p>Phone No: {{profile.phone}}</p>
                <a href="{% url 'editUserInfo' %}" class="btn btn-outline-warning w-100 my-1">Edit Profile</a>
                <a href="{% url 'password_change' %}" class="btn btn-outline-warning w-100 my-1">Reset Password</a>
            </div>
            
        </div>
    </div>
  </main>
  <!-- End #main -->
  {% endblock %}

  <!-- ======= Footer ======= -->
  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
  <!-- End Footer -->


