{% extends 'common/base.html' %}
{% load static %}


{% block title %}Login{% endblock %}

<!-- ======= Header ======= -->
{% block header %}
  {% include 'common/navbar.html' %}
{% endblock %}
<!-- End Header -->

{% block content %}
  <main id="main">
    <div class="container my-4">
      <div class="row mt-5">
          <div class="col-md-6 offset-3 border border-warning rounded-4 p-2">
              <h2 class="text-success text-center border p-5 m-1">Login Form</h2>
              <form action="{% url 'login' %}" method="POST" >
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input type="text" class="form-control" name="username" id="username">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                  </div>
                  <button type="submit" class="btn btn-warning d-block mx-auto">Login</button>
                </form>
                Create your Account <a href="{% url 'signup' %}">Sign Up</a><br>
                <a href="{% url 'password_reset' %}">Forget your password?</a>
          </div>
      </div>
  </div>
  </main>
  <!-- End #main -->
  {% endblock %}

  <!-- ======= Footer ======= -->
  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
  <!-- End Footer -->


