{% extends 'common/base.html' %}
{% load static %}


{% block title %}Login{% endblock %}

<!-- ======= Header ======= -->
{% block header %}
  {% include 'common/navbar.html' %}
{% endblock %}
<!-- End Header -->

{% block content %}
  <main id="main">
    <div class="container my-4">
      <div class="row mt-5">
          <div class="col-md-6 offset-3 border border-warning rounded-4 p-2">
              <h2 class="text-success text-center border p-5 m-1">Login Form</h2>
              <div class="card-body">
                  <form method="POST">
                      {% csrf_token %}
                      <div class="form-row">
                          <div class="col-md-10 offset-md-1">
                          <div class="form-group">
                            <label class="small mb-1" for="id_email">Email</label>
                              <input type="email" name="email"  class="form-control"
                                    autocomplete="email" maxlength="254" required id="id_email"
                                    placeholder="Enter email">
                          </div>
                      </div>
                  </div>
                      <div class="form-row">
                        <div class="col-md-10 offset-md-1">
                          <div class="form-group mt-0 mb-1">
                              <button type="submit" class="col-md-12 btn btn-dark">Submit
                              </button>
                          </div>
                      </div>
                    </div>
                  </form>
              </div>
                Create your Account <a href="{% url 'signup' %}">Sign Up</a>
          </div>
      </div>
  </div>
  </main>
  <!-- End #main -->
  {% endblock %}

  <!-- ======= Footer ======= -->
  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
  <!-- End Footer -->


