{% extends 'common/base.html' %}
{% load static %}


{% block title %}Change password{% endblock %}

<!-- ======= Header ======= -->
{% block header %}
  {% include 'common/navbar.html' %}
{% endblock %}
<!-- End Header -->

{% block content %}
  <main id="main">
    <div class="container my-4">
      <div class="row mt-5">
          <div class="col-md-6 offset-3 border border-warning rounded-4 p-2">
            <p>
                Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
              </p>
          </div>
      </div>
  </div>
  </main>
  <!-- End #main -->
  {% endblock %}

  <!-- ======= Footer ======= -->
  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
  <!-- End Footer -->


