{% extends 'common/base.html' %}
{% load static %}


{% block title %}Password reset done{% endblock %}

<!-- ======= Header ======= -->
{% block header %}
  {% include 'common/navbar.html' %}
{% endblock %}
<!-- End Header -->

{% block content %}
  <main id="main">
    <div class="container my-4">
      <div class="row mt-5">
          <div class="col-md-6 offset-3 border border-warning rounded-4 p-2">
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
              </p>
              <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
              </p>
          </div>
      </div>
  </div>
  </main>
  <!-- End #main -->
  {% endblock %}

  <!-- ======= Footer ======= -->
  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
  <!-- End Footer -->


