{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Add Product{% endblock %}

<!-- ======= Header ======= -->
{% block header %}
  {% include 'common/navbar.html' %}
{% endblock %}
<!-- End Header -->

{% block content %}
  <main id="main">
    <div class="container">
        <div class="row m-3">
            <div class="border offset-3 col-md-6 border-warning rounded-4">
                <h1 class="text-center">Add Product</h1>
                <form method="post" action="{% url 'add_product' %}" class="m-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-warning m-3 w-100 mx-auto" value="Add Product">                
                </form>
            </div>
        </div>
    </div>
  </main>
  <!-- End #main -->
  {% endblock %}

  <!-- ======= Footer ======= -->
  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
  <!-- End Footer -->


